<%= form_for([@item, @comment], role: "form", class: "form") do |f| %>
  <div class="form-group">
    <label class="control-label">From:</label>
    <%= f.text_field :from, class: "form-control" %>
  </div>
  <div class="form-group">
    <label class="control-label">Comment:</label>
    <%= f.text_area :message, class: "form-control" %>
  </div>
  <%= f.submit %>
<% end %>
